<section id="carousel" class="carousel container-fluid" aria-label="carousel" Tabindex="0">

  <div class="slides">
      <div class="row d-flex align-items-start slides-item slide-1" id="slide-1" aria-label="slide 1 of 4"
          tabindex="0">
          <div class="col-sm-7 text-light slide-text text-start">
              <h4 style="padding-right: 8rem;">Welfare Guru</h4>
              <p>Il Welfare Guru è il nostro esperto di welfare, capace di affiancarti in tutte le fasi per la
                  costruzione del tuo piano welfare aziendale, dalla progettazione all’erogazione. Sia che tu
                  abbia già un sistema di incentivi aziendali sia che per te sia la prima esperienza, il
                  consulente welfare MySarma saprà consigliarti la migliore soluzione per ottimizzare la leva
                  fiscale e motivare i dipendenti per soddisfare oltre ai bisogni personali anche quelli dei tuoi
                  familiari.</p>
              <span><i class="bi bi-arrow-right"></i> SCOPRI DI PIÙ</span>
          </div>
          <div class="col-sm-5">
              <img class="img-fluid imgsize1" src="../../assets/public/image/welfare_guru_assistente-2-p-800.png" alt="">
          </div>
      </div>
      <div class="row d-flex align-items-start slides-item slide-2" id="slide-2" aria-label="slide 2 of 4"
          tabindex="0">
          <div class="col-sm-6 text-light slide-text text-start">
              <h4>Gestione del piano</h4>
              <p>MySarma è in grado di fornire agli imprenditori consulenza di welfare specializzata per progettare piani di welfare on top, realizzando un’analisi delle caratteristiche della popolazione aziendale e dei fabbisogni dei dipendenti, aiutandoli a costruire categorie omogenee e a implementare una rete di servizi welfare su misura per le esigenze dei lavoratori.</p>
              <span><i class="bi bi-arrow-right"></i> SCOPRI DI PIÙ</span>
          </div>
          <div class="col-sm-6">
              <img class="img-fluid imgsize2" src="../../assets/public/image/gestione_piano_welfare3x-p-800.png" alt="">
          </div>
      </div>
      <div class="row d-flex align-items-start slides-item slide-3" id="slide-3" aria-label="slide 3 of 4"
          tabindex="0">
          <div class="col-sm-7 text-light slide-text text-start">
              <h4>Soluzioni welfare esclusive</h4>
              <p class="pwelfarefringe">Proponiamo alle PMI un’ampia gamma di fornitori di beni e servizi welfare già presenti in piattaforma, con la massima libertà di scegliere e aggiungere fornitori locali o partner di fiducia presso cui i dipendenti possono spendere il loro credito welfare. Nessun costo fisso per l’attivazione e nessun problema finanziario, perché costruiamo piani personalizzati rendendo non necessario il versamento in anticipo dell’intera somma del tuo piano welfare aziendale.</p>
              <span><i class="bi bi-arrow-right"></i> SCOPRI DI PIÙ</span>
          </div>
          <div class="col-sm-5">
              <img class="img-fluid imgsize3" src="../../assets/public/image/soluzioni_welfare_fringe_benefit_2022-p-800.png" alt="">
          </div>
      </div>
      <div class="row d-flex align-items-start slides-item slide-4" id="slide-4" aria-label="slide 4 of 4"
          tabindex="0">
          <div class="col-sm-6 text-light slide-text text-start">
              <h4>Piattaforma web dedicata</h4>
              <p>Sulla nostra piattaforma dedicata potrai gestire in autonomia il tuo piano di benefit aziendale accessibile con ogni dispositivo digitale (smartphone, tablet o computer). Il portale di welfare online MySarma è disponibile tramite connessione internet e supporta il tuo team nella gestione operativa.</p>
              <span><i class="bi bi-arrow-right"></i> SCOPRI DI PIÙ</span>
          </div>
          <div class="col-sm-6">
              <img class="img-fluid imgsize4" src="../../assets/public/image/piattaforma_web_welfare-p-800.png" alt="">
          </div>
      </div>
  </div>

  <div class="carousel-nav">
      <a href="#slide-1" aria-label="Go to slide 1" class="slider-nav"></a>
      <a href="#slide-2" aria-label="Go to slide 2" class="slider-nav"></a>
      <a href="#slide-3" aria-label="Go to slide 3" class="slider-nav"></a>
      <a href="#slide-4" aria-label="Go to slide 4" class="slider-nav"></a>
  </div>

</section>
