<section id="accordion-faq" class="container-fluid d-flex accordion-faq justify-content-center text-center">

  <div class="acc">
      <h2>Domande frequenti</h2>
      <button class="accordion">Che differenza c’è tra piano Go e piano Pro?</button>
      <div class="panel">
          <p>MySarma Welfare Card è la carta welfare pensata per gestire il welfare aziendale derivante da CCNL o
              i fringe benefits. Per godere della fiscalità agevolata è necessario rispettare nell’erogazione di
              questi beni il limite massimo annuo di 258,23 euro previsto dal TUIR per ciascun dipendente. Nello
              scorso anno (2022), il limite massimo era stato innalzato fino a 600,00 euro con il decreto
              Aiuti-Bis e fino a 3.000€ con il decreto del 18/11/2022. Per tutto il 2023, restando entro la
              soglia, di € 258,23, la somma non concorre a formare reddito da lavoro dipendente. Il Welfare Plan
              invece non ha limiti di importo e consente di accedere a tutti i servizi welfare (Flexible benefit).
          </p>
      </div>


      <button class="accordion">Quali servizi offre la Welfare Card?</button>
      <div class="panel">
          <p>MySarma Welfare Card consente di accedere a tutti i buoni spesa, buoni carburante, buoni regalo ed
              alcuni voucher selezionati da MySarma, come ad es. le esperienze o i pacchetti vacanze.</p>
      </div>

      <button class="accordion">Come avviene la gestione della Welfare Card?</button>
      <div class="panel">
          <p>La gestione della Welfare Card è totalmente automatizzata: è possibile sottoscrivere il contratto
              direttamente online, effettuare il pagamento e indicare beneficiari e importi del bonus (fino a un
              massimo di 258,23 euro per l'anno incorso). Questi riceveranno direttamente via email le credenziali
              per accedere alla piattaforma, mentre l’azienda riceverà in automatico la fattura elettronica utile
              per la deduzione integrale del costo..</p>
      </div>
      <button class="accordion">Mysarma Welfare Plan comprende i servizi della Welfare Card?</button>
      <div class="panel">
          <p>Sì, in automatico il Welfare Plan comprende anche i Fringe benefit previsti dalla Welfare Card
              Mysarma, a meno che l’azienda decida di escluderli per alcuni o tutti i dipendenti perché già
              erogati sotto altre forme.</p>
      </div>

      <button class="accordion">Che servizi comprende il Welfare Plan?</button>
      <div class="panel">
          <p>Il Welfare Plan prevede tutti i servizi dei Flexible benefit organizzati nelle 3 macro categorie:

              Versamenti: Previdenza complementare e sanità integrativa
              Rimborsi: Spese scolastiche, spese per non autosufficienza, trasporto pubblico locale, Interessi
              passivi del mutuo
              Voucher: Viaggi, salute, benessere, cultura, sport, fringe benefits, ecc.</p>
      </div>

      <button class="accordion">È possibile passare dalla Welfare Card al Welfare Plan?</button>
      <div class="panel">
          <p>Trattandosi di due fattispecie diverse non è possibile passare in automatico da MySarma Welfare Card
              al Welfare Plan ma occorre sottoscrivere un nuovo contratto.</p>
      </div>
  </div>
</section>
