<nav class="navbar navbar-expand-lg navcolor">
  <div class="container-fluid">
    <div class="divlogo">
    <img src="../../assets/public/image/logo.png" class="img-fluid" style="width: 173px; height: 42,65;">
  </div>
    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link maintextcolor" aria-current="page" href="#">Welfare Aziendale</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link maintextcolor" href="#">Chi siamo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link maintextcolor" href="#"> I nostri servizi </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link maintextcolor" href="#"> Soluzioni welfare </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link maintextcolor" href="#"> Blog </a>
        </li>
      </ul>
    </div>
      <div class="divbutton">
        <button class="ButtonNav" type="submit" style="width: 184px;height: 37px;">Accedi alla piattaforma</button>
      </div>


  </div>
</nav>
