<section id="icons-2" class="container-fluid text-center icons-2">
  <h1 style="font-weight: bold;">Welfare aziendale?</h1>
  <h4>Te lo diciamo noi se non lo sai</h4>
  <div class="row d-flex justify-content-center sect-row px-5 mb-3 pt-0 ">
      <div class="col-sm-3 sect-2-detail px-3">
          <img src="../../assets/public/image/cosa_e_welfare_aziendale_mano_3x-2.webp" alt="" class="img-fluid">
          <h5>Cos'è il Welfare aziendale</h5>
          <p>Tutti ne parlano ma pochi conoscono il suo potenziale</p>
          <button class="button-icons-2 align-items-end">
              Scopri di più
          </button>
      </div>
      <div class="col-sm-3 sect-2-detail px-3">
          <img src="../../assets/public/image/attrarre_talenti_welfare_calamita_3x.webp" alt="">
          <h5>Come posso attrarre?</h5>
          <p>Fidelizza e attrai nuovi talenti con un piano welfare mirato</p>
          <button class="button-icons-2">
              Scopri di più
          </button>
      </div>
      <div class="col-sm-3 sect-2-detail px-3">
          <img src="../../assets/public/image/risparmio_welfare_salvadanaio_3x.webp" alt="">
          <h5>Normative e vantaggi fiscali</h5>
          <p>Risparmiare è facile grazie al tuo nuovo piano welfare</p>
          <button class="button-icons-2">
              Scopri di più
          </button>
      </div>
      <div class="col-sm-3 sect-2-detail px-3">
          <img src="../../assets/public/image/storie_attrattive_welfare_palestras_3x_1.webp" alt="">
          <h5>Storie attrattive</h5>
          <p>Ascolta le testimonianze di chi ha migliorato il proprio stile di vita</p>
          <button class="button-icons-2">
              Scopri di più
          </button>
      </div>
  </div>
</section>
