<section id="app" class=" container-fluid app mt-4">
  <div class="row app-row justify-content-center">
      <div class="col-sm-6 app-detail">
          <h2>App</h2>
          <h4>
              Con l'app MySarma gestirai il tuo credito welfare e potrai accedere al catalogo dei Benefit e
              Servizi acquistabili.
          </h4>
          <p> <i class="bi bi-arrow-right"></i> COMING SOON</p>
      </div>
      <div class="col-sm-4 app-image ps-5">
          <img src="../../assets/public/image/app_welfare3x-p-500.png" alt="" class="img-fluid">
      </div>
  </div>
</section>
