<section id="boxlogo" class="container-fluid box-logo">
  <div class="row boxlogo">
      <div class="col-sm-5 boxicon">
          <img src="../../assets/public/image/Omninext_Icon-p-500.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm-7 boxdescription d-flex flex-column align-items-start justify-content-center">
          <h5>Facciamo parte</h5>
          <h5>di un grande gruppo!</h5>
          <h6>Il gruppo Omninext è costituito da aziende altamente specializzate interconnesse tra loro, che
              permettono di ricoprire diversi settori industriali per necessità di Business personalizzate.</h6>
          <span><i class="bi bi-arrow-right"></i> SCOPRI DI PIÙ</span>
      </div>
  </div>
</section>
