.box-logo{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.boxlogo{
  width: 75%;
  height: 350px;
  border-radius: 25px;
  border: 2px solid #1f3f91;
}

.boxdescription > h5{
  color: #2f4fa0;
  font-weight: bold;
  padding-right: 170px;
  font-size: 36px !important;
}

.boxdescription > h6{
  color: #aaabae;
  margin: 20px 0;
}

.boxicon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxicon > img{
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 916px) {
  img{
    position: relative;
    bottom : 70px;
    left: 120px;
    max-width: 500px !important;
    max-height: 200px !important;
  }
  #boxlogo{
    width: 600px !important;
  }
  .boxlogo{
    height: 400px !important;
  }
  h5,span{
    width: 520px;
    position: relative;
    top : 130px;
    right: 130px;
  }
  h6{
    display: none;
  }

}
@media screen and (max-width: 916px) {
  #boxlogo{
    width: 500px !important;
  }
  img{
    max-width: 200px !important;
    max-height: 150px !important;
    bottom: 0px;
    left: 0px;
    }
    h5,span{
      width: 300px !important;
      position: relative;
      top : 0px;
      right: 0px;
      left: 20px;
      padding: 0px !important;
    }
    span{
      width: 150px !important;
    }
}
