/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');
* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}
:root{
  --main-color: #2B50B0;
}
.maintextcolor{
  color: var(--main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.ColorMain{
  color: var(--main-color) !important;
}
