<section id="newsletter" class="container-fluid">
  <div class="row newsletter">
      <div class="col-sm-1"></div>
      <div class="col-sm-5 d-flex flex-column align-items-center justify-content-center text-start text-light px-5">
          <h2>
              Resta aggiornato
          </h2>
          <h6 class="px-5">
              Iscriviti alla newsletter per ricevere aggiornamenti sulle nuove offerte e partner MySarma
          </h6>

      </div>
      <div class="col-sm-6 field">
          <input type="email" name="email" id="email" cols="30" placeholder="@">
          <button>Invia</button>
      </div>
  </div>
</section>
